.sidebar-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    width: 100%;
}
.sidebar-btn {
    background: #30414E; /* Rende il bottone trasparente */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    padding: 10px; /* Aggiungi padding se necessario */
    outline: none; /* Rimuove il contorno al focus */
    border-radius: 10px;
    
}
.sidebar-btn:hover {
    opacity: 0.7; /* Aggiunge un effetto hover */
}

.sidebar-btn:focus {
    outline: none; /* Rimuove il contorno al focus */
}
